.btn-gradient {
  border: none;
  background-image: var(--gradient);
  border-radius: var(--border-radius--btn);
  color: var(--fs-color--light);
  font-weight: var(--fw--regular);
  padding: 0.5rem 2rem;
}
