.summary-link--astronauts,
.summary-link--astronauts:hover {
  text-decoration: none;
  color: inherit;
}

.summary-card--astronauts {
  border-radius: var(--border-radius--card);
  box-shadow: var(--shadow--card);
  overflow: hidden;
  margin: 2rem 0;
  text-align: center;
  cursor: pointer;
  min-height: 35rem;
}

.summary-card--astronauts:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 25%);
  transition: all 0.3s;
}

.summary-card--astronauts .card-title {
  font-size: 1.6rem;
}

.summary-card--astronauts button {
  margin: 1rem 0;
}

.img-sm--astronauts {
  object-fit: contain;
  object-position: top;
}

@media (max-width: 768px) {
  .img-sm--astronauts {
    max-height: 20rem;
  }
}
