.imgcard-container {
  border: none;
  border-radius: var(--border-radius--card);
  box-shadow: var(--shadow--card);
  overflow: hidden;
  min-height: 38rem;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.imgcard-container::after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.imgcard-container:hover {
  box-shadow: 0 6px 20px rgb(0 0 0 / 45%);
  transition: all 0.3s;
}

.imgcard-content {
  z-index: 2;
  color: var(--fs-color--light);
  height: 100%;
  flex: none;
}

.imgcard-content button {
  margin: 1rem 0;
}

.imgcard-content p {
  margin: 0 auto;
  max-width: 25rem;
}
.imgcard-content h1 {
  text-transform: capitalize;
}

.bg-spacecraft,
.bg-astronauts,
.bg-news {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-spacecraft {
  background-image: url(../../assets/spacex.jpg);
}

.bg-astronauts {
  background-image: url(../../assets/astronaut.jpg);
}

.bg-news {
  background-image: url(../../assets/news.jpg);
}

@media (max-width: 992px) {
  .img-container p {
    max-width: 100%;
  }
}
