.carousel {
  margin-top: 1.5rem;
}
.carousel-control-next,
.carousel-control-prev {
  align-items: flex-start;
  height: 1.5rem;
  top: -5rem;
  width: 0%;
  padding: 2.5rem;
}
.carousel-control-prev {
  left: 92%;
}

.pagenation {
  position: absolute;
  top: -10px;
  left: 86%;
  width: 8rem;
  translate: translateX(0);
  padding: 1.5rem 0;
}

@media (max-width: 992px) {
  .carousel-control-prev {
    left: 0%;
  }

  .pagenation {
    left: 50%;
    transform: translateX(-50%);
  }
}
