button:disabled {
  opacity: 0.3;
}

.btn-icon {
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
  border-radius: var(--border-radius--btn);
  font-size: 3rem;
  padding: 0;
}

.btn-goback {
  background-color: var(--dark-grey);
  border-radius: var(--border-radius--btn);
  color: var(--fs-color--light);
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
}

.btn-goback svg {
  margin-right: 0.5rem;
}
