.bookmark--title {
  font-size: 2rem;
}

.img-box--bookmark {
  padding: 0;
}

.img-sm--bookmark {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.info-box--bookmark h1 {
  font-size: 1.4rem;
}

.btn--addBookmark {
  display: flex;
  justify-content: flex-end;
}
.btn--addBookmark button {
  display: flex;
  font-size: 2rem;
}

.btn--bookmark {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.star--bookmark {
  color: #fcd774;
}

.info-box--bookmark {
  font-size: 2rem;
}
