.bookmark--title {
  font-size: 2rem;
}

.img-box--bookmark {
  padding: 0;
}

.img-sm--bookmark {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.info-box--bookmark h1 {
  font-size: 1.4rem;
}

.bookmark-btn {
  display: flex;
  justify-content: flex-end;
}
.bookmark-btn button {
  display: flex;
  font-size: 2rem;
}

/* .news-box {
  border-radius: var(--border-radius--card);
  box-shadow: var(--shadow--card);
  overflow: hidden;
}

.img-box--news {
  padding: 0;
}

.img-sm--news {
  height: 16rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.info-box--news {
  padding: 1.5rem 1rem;
}

.info-box--news * {
  font-size: inherit;
}

.info-box--news .card-title {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.info-box--news .card-subtitle {
  margin: 1rem 0;
}

.updated {
  font-weight: var(--fw--light);
  margin: 1rem;
}
.bookmark {
  display: flex;
  justify-content: flex-end;
}
.bookmark button {
  display: flex;
  font-size: 2.5rem;
} */
